$base-bg: #c0c0e0;
$header-bg: #a0a0e0;
$panel-bg: #9090b0;
$panel-border: #707090;

$dec-single-width: 2.1em;
$dec-double-width: 3.2em;

@mixin panel {
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid $panel-border;
    border-radius: 5px;
    background-color: $panel-bg;
}

body {
    display: flex;
    background-color: $base-bg;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
    font-family: 'DejaVu Sans', sans-serif;
}

.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    box-sizing: border-box;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 48px;
        background-color: $header-bg;

        box-sizing: border-box;
        padding: 0 10px;
    }

    .body {
        box-sizing: border-box;
        height: calc(100vh - 48px);
    }

    .romselect {
        @include panel;
    }

    .runcontrols {
        @include panel;

        display: flex;
        flex-direction: column;
        gap: 5px;

        .playbuttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 5px;
        }

        button {
            min-width: 60px;
        }
    }
}

.SpeedCtl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .display-values {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.RomLoader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
}

.BytesUpload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
}

.Regs {
    @include panel;

    th {
        text-align: center;
    }

    td.num {
        font-family: 'Liberation Mono', monospace;
        text-align: right;
    }

    table.single .dec {
        width: $dec-single-width;
    }

    table.double .dec {
        width: $dec-double-width;
    }

    table.flags td {
        font-family: 'Liberation Mono', monospace;
        text-align: center;
    }

    .ime {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
}

.Derefs {
    @include panel;

    th {
        text-align: center;
    }

    td.num {
        font-family: 'Liberation Mono', monospace;
        text-align: right;

        width: 2.6em;

        .dec {
            width: 3.2em;
        }
    }

    .instr {
        text-align: left;
    }
}

.Instr {
    font-family: 'Liberation Mono', monospace;
    min-width: 110px;
}

.Breakpoints {
    @include panel;

    .name input {
        width: 115px;
    }

    .addr {
        font-family: 'Liberation Mono', monospace;
        text-align: right;

        input {
            width: 40px;
        }
    }
}

.Serial {
    @include panel;

    pre {
        white-space: pre-wrap;
        /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */

        background-color: #000000;
        color: #44bb44;
        margin: 0;
        box-sizing: border-box;
        padding: 5px;
        border: 2px solid $panel-border;
        height: 25em;
        width: 60em;
        overflow-y: scroll;
        overflow-x: auto;
    }
}

.Memview {
    @include panel;

    $addr-bg: #9898b0;
    $addr-bg-write: #cfcf8d;
    $addr-bg-read: #8383eb;
    $addr-bg-unimplemented: #ebbe83;
    $addr-bg-bad: #eb8383;

    $mem-section-color: #a0a0c0;
    $section-head-color: #8080a0;
    $subsection-head-color: #8888a2;

    .key {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        span {
            padding: 5px;
            border: 2px solid $panel-border;
        }

        .read-write {
            background-color: $addr-bg;
        }

        .read-only {
            background-color: $addr-bg-read;
        }

        .write-only {
            background-color: $addr-bg-write;
        }

        .unimplemented {
            background-color: $addr-bg-unimplemented;
        }

        .bad {
            background-color: $addr-bg-bad;
        }
    }

    .mem-section {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        border: 2px solid $panel-border;
        background-color: $mem-section-color;

        .disabled {
            color: #444444;
        }
    }

    h4 {
        background-color: $section-head-color;

        &.subsection {
            background-color: $subsection-head-color;
            border-top: 1px solid $panel-border;
        }
    }

    h5 {
        font-size: inherit;
    }

    .line {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        line-height: 100%;

        box-sizing: border-box;
        border-top: 1px solid $panel-border;

        gap: 5px;
    }


    .bankselect {
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        align-items: stretch;
        box-sizing: border-box;
        border-top: 1px solid $panel-border;

        width: 0;
        min-width: 100%;

        .choosebank {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;


            border-radius: 3px;
            flex: 1 50px;
            border: 1px solid #9090a0;
            margin: 1px;

            background-color: #c4c4c4;
            &:hover {
                background-color: #969696;
            }
            &.viewed {
                background-color: #acacac;
            }

            .banknum {
                font-family: 'Liberation Mono', monospace;
                font-size: 12px;
                line-height: 12px;
                width: 1.8em;
            }

            .material-icons {
                font-size: inherit;
            }
        }
    }

    .addr,
    .named {
        background-color: $addr-bg;
        box-sizing: border-box;
        border-right: 1px solid $panel-border;
        padding: 2px 5px;
        font-family: 'Liberation Mono', monospace;
    }

    .line {

        .addr,
        .named {
            align-self: stretch;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
        }

        .named {
            margin-left: -5px;
            width: 10em;
        }

        .addr.range {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0;
        }
    }

    .write-only {

        .addr,
        .named {
            background-color: $addr-bg-write;
        }
    }

    .read-only {

        .addr,
        .named {
            background-color: $addr-bg-read;
        }
    }

    .unimplemented {

        .addr,
        .named {
            background-color: $addr-bg-unimplemented;
        }
    }

    .bad {

        .addr,
        .named {
            background-color: $addr-bg-bad;
        }
    }

    .byte {
        font-family: 'Liberation Mono', monospace;

        &.dec {
            width: $dec-single-width;
            text-align: right;
        }
    }

    .hexeditor {
        font-family: 'Liberation Mono', monospace;
        box-sizing: border-box;
        border-collapse: collapse;

        .addr {
            padding-left: 5px;
            padding-right: 5px;

            .range {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        .byte {
            padding-left: 2px;
            padding-right: 2px;
        }

        .byte.dword-start {
            padding-left: 6px;
        }

        .byte.first-addr {
            padding-left: 5px;
        }

        .byte.last-addr {
            padding-right: 10px;
        }

        .ascii.last-addr {
            padding-right: 5px;
        }

        .group {
            padding-left: 5px;
        }

        tr {
            border-top: 1px solid $panel-border;
        }

        .byte, .ascii {
            position: relative;

            .tooltip {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                display: none;
                background-color: $subsection-head-color;
                box-sizing: border-box;
                padding: 2px;
                border: 1px solid $panel-border;
                border-radius: 2px;
                z-index: 2;
                pointer-events: none;
            }

            &:hover .tooltip {
                display: block;
            }
        }

        td,
        th {
            vertical-align: middle;
            line-height: 100%;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }

    table.interrupt-flags {
        border-collapse: collapse;
        margin-left: -5px;
        align-self: stretch;

        th,
        td {
            text-align: center;
            border: 1px solid $panel-border;
            padding: 0 2px;

            &:first-child {
                border-left: none;
            }
        }

        th {
            border-top: none;
        }

        td {
            font-family: 'Liberation Mono', monospace;
            border-bottom: none;
        }
    }
}

@mixin gap-sizes {
    .smallgap {
        gap: 5px;
    }

    .biggap {
        gap: 20px;
    }

    .nogap {
        gap: 0;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 10px;
    @include gap-sizes;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        box-sizing: border-box;
        gap: 10px;
        @include gap-sizes;

        &.scroll {
            height: 100%;
            overflow-y: auto;
            scrollbar-gutter: stable;
        }

        &.main {
            padding: 10px;
        }
    }
}
