$base-bg: #c0c0e0;
$header-bg: #a0a0e0;
$panel-bg: #9090b0;
$panel-border: #707090;

@mixin panel {
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid $panel-border;
    border-radius: 5px;
    background-color: $panel-bg;
}

body {
    display: flex;
    background-color: $base-bg;
}

html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
}

.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
    box-sizing: border-box;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 48px;
        background-color: $header-bg;

        box-sizing: border-box;
        padding: 0 10px;
    }

    .body {
        box-sizing: border-box;
        height: calc(100vh - 48px);
    }

    .romselect {
        @include panel;
    }

    .runcontrols {
        @include panel;

        display: flex;
        flex-direction: column;
        gap: 5px;

        .playbuttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            gap: 5px;
        }

        button {
            min-width: 60px;
        }
    }
}

.SpeedCtl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .display-values {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.RomLoader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
}

.BytesUpload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 10px;
}

.Regs {
    @include panel;

    th {
        text-align: center;
    }

    td.num {
        font-family: 'Liberation Mono', monospace;
        text-align: right;
    }

    table.single .dec {
        width: 2.1em;
    }

    table.double .dec {
        width: 3.2em;
    }

    table.flags td {
        font-family: 'Liberation Mono', monospace;
        text-align: center;
    }
}

.Derefs {
    @include panel;

    th {
        text-align: center;
    }

    td.num {
        font-family: 'Liberation Mono', monospace;
        text-align: right;

        width: 2.6em;

        .dec {
            width: 3.2em;
        }
    }

    .instr {
        text-align: left;
    }
}

.Instr {
    font-family: 'Liberation Mono', monospace;
    min-width: 110px;
}

.Breakpoints {
    @include panel;

    .name input {
        width: 115px;
    }

    .addr {
        font-family: 'Liberation Mono', monospace;
        text-align: right;

        input {
            width: 40px;
        }
    }
}

.Serial {
    @include panel;

    pre {
        white-space: pre-wrap;
        /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */

        background-color: #000000;
        color: #44bb44;
        margin: 0;
        box-sizing: border-box;
        padding: 5px;
        border: 2px solid $panel-border;
        height: 25em;
        width: 60em;
        overflow-y: scroll;
        overflow-x: auto;
    }
}

.Memview {
    @include panel;

    $addr-bg: #9898b0;
    $addr-bg-write: #cfcf8d;
    $addr-bg-read: #8383eb;

    .addr {
        background-color: $addr-bg;
        box-sizing: border-box;
        border-right: 1px solid $panel-border;
    }

    .write-only .addr {
        background-color: $addr-bg-write;
    }

    .read-only .addr {
        background-color: $addr-bg-read;
    }

    .bios,
    .cart-rom,
    .vram,
    .cart-ram,
    .wram,
    .oam,
    .io,
    .zram,
    .ie {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        border: 2px solid $panel-border;
        background-color: #a0a0c0;
    }

    .bios.disabled {
        color: #444444;
    }

    h4 {
        background-color: #8080a0;
    }

    .line {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;

        border-bottom: 1px solid $panel-border;

        &:last-child {
            border-bottom: none;
        }


        >.desc {
            margin: 2px;
            max-width: min-content;
            text-align: center;
        }

        .namedbytes {
            td {
                text-align: center;
            }
        }

        .addr {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            padding: 2px 5px;

            h5 {
                font-family: 'Liberation Mono', monospace;
                font-weight: normal;
                font-size: inherit;
                line-height: 100%;
            }
        }

    }

    .hexeditor {
        font-family: 'Liberation Mono', monospace;
        box-sizing: border-box;
        border-collapse: collapse;

        .addr {
            padding-left: 5px;
            padding-right: 5px;
        }

        .byte {
            padding-left: 2px;
            padding-right: 2px;
        }

        .byte.dword-start {
            padding-left: 6px;
        }

        .byte.first-addr {
            padding-left: 5px;
        }

        .byte.last-addr {
            padding-right: 10px;
        }

        tr {
            border-bottom: 1px solid $panel-border;

            &:last-child {
                border-bottom: none;
            }
        }

        td,
        th {
            vertical-align: middle;
            line-height: 100%;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }

    .byte {
        font-family: 'Liberation Mono', monospace;
    }

    table.interrupt-flags {

        th,
        td {
            text-align: center;
        }

        td {
            font-family: 'Liberation Mono', monospace;
        }
    }

}

@mixin gap-sizes {
    .smallgap {
        gap: 5px;
    }

    .biggap {
        gap: 20px;
    }

    .nogap {
        gap: 0;
    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 10px;
    @include gap-sizes;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        box-sizing: border-box;
        gap: 10px;
        @include gap-sizes;

        &.scroll {
            height: 100%;
            overflow-y: auto;
            scrollbar-gutter: stable;
        }

        &.main {
            padding: 10px;
        }
    }
}
