@font-face {
    font-family: 'Liberation Mono';
    src: url("/static/liberation/LiberationMono-Regular.ttf") format("truetype");
    font-style: normal;
    descent-override: 0%;
}
@font-face {
    font-family: 'Liberation Mono';
    src: url("/static/liberation/LiberationMono-Bold.ttf") format("truetype");
    font-weight: bold;
    descent-override: 0%;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url("/static/dejavu/DejaVuSans.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url("/static/dejavu/DejaVuSans-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url("/static/dejavu/DejaVuSans-Oblique.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url("/static/dejavu/DejaVuSans-BoldOblique.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}
